body {
  padding: 2em;
}

.button-normal {
  border: 1px solid #555;
  background-color: #eee;
  border-radius: 4px;
  padding: 4px;
}

.highImportant {
  background-color: #ffe5e5; /* 薄い赤色の背景 */
}
.middleImportant {
  background-color: #fff5e5; /* 薄いオレンジ色の背景 */
}
.lowImportant {
  background-color: #e5ffe5; /* 薄い緑色の背景 */
}
.done {
  background-color: #f0f0f0; /* 薄い灰色の背景 */
}
